:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  /* size */
 --size-small : 12px; 
 --size-medium : 16px; 
 --size-large : 20px; 
 --size-button: 60px;
 /* annimation */
 --annimation-duration: 100ms;

}
* {
  padding: 0;
}
ul {
    list-style: none;
  }
body {
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  /* flex-wrap: wrap; */
  align-items: center;
  background-color: var(--color-black);
  margin: 40px auto;
  overflow: hidden;
  font-size: 14px;
}
.firstLine {
  padding: 12px;
  cursor: pointer;
  transition: transform 100ms ease;
}
.secondLine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondLine .images>img{
  
   width: var(--size-button);
  height: var(--size-button); 
  margin-right: 16px;
  cursor: pointer;
}
.secondLine .buttons>.btnText {
  margin-right: 8px;
  cursor: pointer;
  padding: 1px 5px;
  width: fit-content;
  height: var(--size-button);
  font-size: var(--size-small);
  border-radius: 5px;
}
.buttons .blue{
  background-color: var(--color-blue);
}
.buttons .yellow{
  background-color: var(--color-yellow);
}
.buttons .pink{
  background-color: var(--color-pink);
}
.firstLine:hover,
.secondLine .images img:hover,
.secondLine .buttons> button:hover {
  transform: scale(1.1);
}


